body {
	padding:0;
	margin:0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.cabecalho {
	width: 100%;
	height: 700px;
	background-image: url("../WalbgPequeno.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align:center;
	align-items: center;
	
}

.entradas {
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 170px;
}
.botao {
	font-size: 12pt;
	height: 45px;
	width: 120px;
	margin: 10px;
}

@media only screen and (min-width: 950px){
	
	.entradas {
		margin-top: 200px;
	}
	
	.botao {
		width: 150px;
	}
}

@media only screen and (min-width: 1000px){
	
	
	.cabecalho {
		background-image: url(../WalBg.png);
		
	}
	.entradas {
		margin-top: 400px;
	}
	
	
	.botao {
		font-size: 30pt;
		height: 70px;
		width:200px;
	}
	
	
}